/* HEADER */

.container-header {
    width: 100%;
    display: flex;
    justify-content: center;
    background-color: rgb(0, 0, 0);
    margin: auto;
}

.logo {
    background-color: rgb(255, 0, 0);
    color: rgb(255, 255, 255);
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-size: 2.8em;
    padding-left: 10px;
    padding-right: 10px;
    margin: 0;
}

.imagen-header {
    width: 100%;
}

.img-banner{
    height: 450px;
}

/* FOOTER */

.container-footer {
    background-color: rgb(0, 0, 0);
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-size: 1.5em;
    padding: 0px;
    display: flex;
    text-align: center;
    align-items: center;
    justify-content: center;
}

.nav-link {
    margin-left: 1em;
}

.i-style {
    color: rgb(255, 0, 0);
    font-size: 1em;
}

/* CARDS COMICS */

.container {
    margin-top: 5%;
}

.card {
    border: transparent;
}

.col {
    margin: auto;
    margin-top: 5%;
}

.card-img-top {
    box-shadow: 0 26px 24px -16px rgb(0 0 0 / 40%);
}

.card:focus,
.card:hover {
    color: rgb(255, 0, 0);
    outline: 0;
}

.card-img-top:hover {
    transform: translateY(-10px);
}
